@page "/quoteexport"
@using MudBlazor
@using PeopleItTest.Data
@using PeopleItTest.Models
@using PeopleItTest.Services.ExcelUpload
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject MockCrmDbContext dbContext 
@inject IExcelUploadService excelService

<MudText Class="mt-4 ml-4" Typo="Typo.h4">Upload Excel File</MudText>
<div class="d-flex align-content-start mt-6 ml-4">
    <MudFileUpload Class="flex-none mt-0" T="IBrowserFile" Accept=".xlsx" OnFilesChanged="ProcessUpload">
        <ButtonTemplate>
            <MudButton Class="py-2"
                       HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context.Id">
                Upload
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
    @if (showSaveButton)
    {
        <MudButton Class="ml-6 px-6 py-0" 
                   HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Save" OnClick="SaveQuotesToDatabase">
            Save
        </MudButton>
    }
</div>

@if (files.Count() > 0)
{
    <MudList>
        @foreach (var file in files)
        {
            <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                @file.Name <code>@file.Size bytes</code>
            </MudListItem>
        }
    </MudList>
}

@if (uploadedQuotes.Count() > 0)
{
    <MudTable Items="uploadedQuotes">
        <HeaderContent>
            <MudTh>QuoteSentDate</MudTh>
            <MudTh>Salesperson</MudTh>
            <MudTh>ProjectName</MudTh>
            <MudTh>ProjectCode</MudTh>
            <MudTh>Customer</MudTh>
            <MudTh>CustomerCity</MudTh>
            <MudTh>CustomerState</MudTh>
            <MudTh>MarketingCategory</MudTh>
            <MudTh>NumberOfQuotes</MudTh>
            <MudTh>TotalNet</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="QuoteSentDate">@context.QuoteSentDate</MudTd>
            <MudTd DataLabel="Salesperson">@context.Salesperson</MudTd>
            <MudTd DataLabel="ProjectName">@context.ProjectName</MudTd>
            <MudTd DataLabel="ProjectCode">@context.ProjectCode</MudTd>
            <MudTd DataLabel="Customer">@context.Customer</MudTd>
            <MudTd DataLabel="CustomerCity">@context.CustomerCity</MudTd>
            <MudTd DataLabel="CustomerState">@context.CustomerState</MudTd>
            <MudTd DataLabel="MarketingCategory">@context.MarketingCategory</MudTd>
            <MudTd DataLabel="NumberOfQuotes">@context.NumberOfQuotes</MudTd>
            <MudTd DataLabel="TotalNet">@context.TotalNet</MudTd>
        </RowTemplate>
    </MudTable>
}


@code {
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private List<ProjectQuote> uploadedQuotes = new List<ProjectQuote>();
    private bool showSaveButton = false;

    private async Task ProcessUpload(InputFileChangeEventArgs args)
    {
        files = new List<IBrowserFile>();
        var file = args.File;
        files.Add(file);
        uploadedQuotes = new List<ProjectQuote>();
        showSaveButton = false;
        if (file != null)
        {
            try
            {
                var quotes = await excelService.ProcessExcelFile(file);

                var quotesNotInDb = quotes
                    .GroupJoin(
                        dbContext.ProjectQuotes, 
                        quote => new { quote.QuoteSentDate, quote.Customer, quote.ProjectName }, // CompositeKey from the source.
                        dbQuote => new { dbQuote.QuoteSentDate, dbQuote.Customer, dbQuote.ProjectName }, // CompositeKey from the db.
                        (quote, dbQuotes) => new { quote, dbQuotes } 
                    )
                    .SelectMany(
                        x => x.dbQuotes.DefaultIfEmpty(), // Left Join.
                        (x, dbQuote) => new { x.quote, dbQuote }
                    )
                    .Where(x => x.dbQuote == null) // Filter for quotes not found in the DB.
                    .Select(x => x.quote) 
                    .ToList(); 


                // Update the table
                uploadedQuotes = quotesNotInDb;
                showSaveButton = true;
            }
            catch(Exception ex)
            {
                // Display error message to user
                Snackbar.Add($"Failed to process file: {ex.Message}", Severity.Error);
            }
            StateHasChanged();
        }
    }

    private async Task SaveQuotesToDatabase()
    {
        var validationResults = new List<ValidationResult>();
        var isValid = true;

        // Validate quotes before attempting to save
        foreach (var projectQuote in uploadedQuotes)
        {
            var context = new ValidationContext(projectQuote, serviceProvider: null, items: null);
            isValid &= Validator.TryValidateObject(projectQuote, context, validationResults, true);
            if (!isValid)
            {
                // Add validation errors to snackbar
                foreach (var validationResult in validationResults)
                {
                    Snackbar.Add($"{projectQuote.QuoteSentDate}-{projectQuote.Customer}-{projectQuote.ProjectName}: {validationResult.ErrorMessage}", Severity.Error);
                }
                break;
            }
        }

        if (isValid)
        {
            try
            {
                // Add to context and save
                await dbContext.ProjectQuotes.AddRangeAsync(uploadedQuotes);
                await dbContext.SaveChangesAsync();

                // Display success message
                Snackbar.Add("Quotes saved successfully.", Severity.Success);

                // Clear file list
                files = new List<IBrowserFile>();

                // Hide the save button
                showSaveButton = false;
            }
            catch (Exception ex)
            {
                // Display error message if saving to the database fails
                Snackbar.Add($"Failed to save quotes: {ex.Message}", Severity.Error);
            }
        }
        StateHasChanged();
    }
}

